<ion-view view-title="Localización">
  <ion-content style="background: white;
    background-attachment:fixed;
    background-position: center;" class="has-footer">
    <!-- <div id="spinner">
  		<ion-spinner class=" map centered" ng-show="showSpinner"></ion-spinner>
  	</div> -->
    <h3>Direcciones</h3>
  <p> 
    Salga por la salida 39 de la autopista. Siga derecho hasta llegar a un semaforo. En el semaforo doble a la izquierda. Mantenganse derecho, va a pasar un semaforo y luego va a llegar a un segundo semaforo en donde girara a la derecha. Mantengase derecho hasta que llegue al final de la carretera. A su izquierda vera la pista de caminar, gire a la izquierda. En la segunda entrada a la derecha habra llegado a la Univeridad de Puerto Rico en Cayey.
  </p>
    <iframe 
	  width="100%"
	  height="350"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCWR3ihX6eT2q_WcRJYUkh9snX6kiX-A1I
	    &q=universidad+de+puerto+rico+cayey" allowfullscreen onload="dontShowSpinner()">
	</iframe>

  </ion-content>
</ion-view>
