<ion-view view-title="Programa">
  <ion-content class="has-footer" style="background: url(../img/digital.jpg);
    background-attachment:fixed;
    background-position: center;">
    <div style="padding:10px;">
      <div class="card" ng-repeat="item in program" >
        <div class="item item-divider" style="background-color:#F8F8F8">
          <a ng-show="{{item.tid}}" ng-href="#/app/talk/{{item.tid}}" style="white-space: normal;">{{item.name}}
          </a>
          <span ng-hide="{{item.tid}}" style="white-space: normal; text-align: justify;">{{item.name}}</span>
        </div>
        <div class="item item-text-wrap" style="">
          <div>
            {{item.start}} - {{item.end}}
          </div>
          <div>
            {{item.speaker}}
          </div>
          <div>
            {{item.organization}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
