<ion-view view-title="Conferenciantes">
  <ion-content class="has-footer" style="background: aquablue;
    background-attachment:fixed;
    background-position: center;"
    <ion-list>
      <ion-item ng-repeat="speaker in speakers" href="#/app/speakers/{{speaker.sid}}" type="item-text-wrap" style="white-space: normal; text-align: justify;">
      	<div style="display:inline-block;vertical-align:top;">
      		<img  ng-src="{{speaker.profile_picture || '../img/no-profile-picture.png'}}" style="width: 50px; height: 50px; border-radius: 50px;">
      	</div>
      	<div style="display:inline-block;">
	        <span style="font-size: 16px; color: black; display:inline-block;">{{speaker.name}}</span>
	        </br>
	        {{speaker.organization}}
	    </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
