<ion-view view-title="Conferenciante">
  <ion-content style="background: white;
    background-attachment:fixed;
    background-position: center;">
    <div style="display:inline-block; vertical-align:top;">
      	<img  ng-src="{{speaker.profile_picture || '../img/no-profile-picture.png'}}" style="width: 100px; height: 100px; border-radius: 50px;">
    </div>
    <div style="display:inline-block; padding-top:30px;">
	    <span style="font-size: 20px; color: black; display:inline-block;">{{speaker.name}}</span>
	    </br>
	    {{speaker.organization}}
	</div>
	<ion-list style="padding: 30px;">
		<ion-item style="white-space: normal;">
			<b>Charla:</b> <a ng-href="#/app/talk/{{speaker.tid}}"> {{speaker.talk}}</a>
		</ion-item>
		<ion-item ng-show="{{speaker.email}}">
			<b>E-mail:</b> {{speaker.email}}
		</ion-item>
		<ion-item ng-show="{{speaker.grade}}">
			<b>Grado:</b> {{speaker.grade}}
		</ion-item>
		<ion-item ng-show="{{speaker.university}}">
			<b>Educacion:</b> {{speaker.university}} 
		</ion-item>
		<ion-item ng-show="{{speaker.especialidad}}">
			<b>Especialidad:</b> {{speaker.especialidad}}
		</ion-item>
		<ion-item ng-show="{{speaker.about}}" style="white-space: normal; text-align: justify;">
			<b>Información:</b> {{speaker.about}}
		</ion-item>
		<ion-item ng-show="{{speaker.linkedin}}">
			<i class="icon ion-social-linkedin" style="font-size:25px; margin-right:1px"></i><b>:</b> 
			<a ng-href="{{speaker.linkedin}}">
				{{speaker.linkedin}}
			</a>
		</ion-item>
    </ion-list>
  </ion-content>

</ion-view>
