/* Empty. Add your own CSS if you like */
.scroll{height: 100%;}

body {
    /*background: url(../img/digital.jpg);*/
    background: aliceblue;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.pane, .menu, .view{
    background: aliceblue;
}

.centered {
	opacity: 1;
	position: fixed;
	left:60%;
	top:50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
}
